* {
    font-family: 'DM Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(27, 66%, 92%);
}

.container {
    margin-top: 70px;
    width: 400px;
}

.card1,
.flexing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card1 {
    padding: 5px 30px 0px 30px;
    background-color: hsl(10, 79%, 65%);
    color: white;
    border-radius: 15px;
}

.card2 {
    margin-top: 15px;
    background-color: white;
    padding: 10px 30px 0px 30px;
    border-radius: 15px;
}

.p1 {
    font-size: 13px;
    color: hsl(27, 66%, 92%);
}

.p2 {
    margin-top: 0px;
    font-weight: 700;
    font-size: 25px;
}

h2,
.dollers {
    color: hsl(25, 47%, 15%);
    margin-bottom: 45px;
}

.total {
    margin-bottom: 0px;
    color: hsl(28, 10%, 53%);
}

.dollers {
    margin-top: 0px;
    font-weight: 700;
    font-size: 30px;
}

.plus {
    color: hsl(25, 47%, 15%);
    margin-bottom: 0px;
    margin-top: -7px;
    margin-left: 73px;
}

.month {
    color: hsl(28, 10%, 53%);
    margin-top: 0px;
}

.chart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chart0,
.chart1,
.chart2,
.chart3,
.chart4,
.chart5,
.chart6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: hsl(28, 10%, 53%);
    font-size: 13px;
}

.bar0,
.bar1,
.bar2,
.bar3,
.bar4,
.bar5,
.bar6 {
    width: 35px;
    border-radius: 5px;
    background-color: hsl(10, 79%, 65%);
    margin-bottom: 3px;
}

.bar0:hover,
.bar1:hover,
.bar2:hover,
.bar3:hover,
.bar4:hover,
.bar5:hover,
.bar6:hover {
    background-color: #ff9b87;
    cursor: pointer;
}

.attribution {
    margin-top: 70px;
    margin-left: -40px;
    font-size: 15px;
    text-align: center;
}

.attribution a {
    color: hsl(10, 79%, 65%);
    font-size: 18px;
}

.attribution a:hover {
    color: hsl(28, 10%, 53%);
}

hr {
    border: 1px solid hsl(27, 66%, 92%);
    margin-top: 25px;
}

#tooltip0,
#tooltip1,
#tooltip2,
#tooltip3,
#tooltip4,
#tooltip5,
#tooltip6 {
    visibility: hidden;
}

.bar0:hover #tooltip0,
.bar1:hover #tooltip1,
.bar2:hover #tooltip2,
.bar3:hover #tooltip3,
.bar4:hover #tooltip4,
.bar5:hover #tooltip5,
.bar6:hover #tooltip6 {
    visibility: visible;
}

.bar0,
.bar1,
.bar2,
.bar3,
.bar4,
.bar5,
.bar6 {
    position: relative;
    display: inline-block;
}

#tooltip0,
#tooltip1,
#tooltip2,
#tooltip3,
#tooltip4,
#tooltip5,
#tooltip6 {
    visibility: hidden;
    width: 100%;
    padding: 5px 11px 5px 7px;
    background-color: hsl(25, 47%, 15%);
    color: white;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 25%;
    margin-left: -50%;
    font-size: 13px;
}